      @import "https://fonts.googleapis.com/css2?family=Arvo&display=swap";

      * {
      box-sizing: border-box;
      
      }

      body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
      }


      .contaner-fluid {
      height: initial;
      }

      .text-content {
            margin:20%;
      }
      .text-content p {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
            font-size: 3em;
            text-transform: uppercase;
      letter-spacing: 2px;
      }

      img  {
      margin-top: 3em;
      
      
      }
      h3 {
      font-weight: bolder;
      color: rgb(74, 72, 72);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }


      #artical{
      background-color: rgba(223, 173, 181, 0.177);
      }
      .navbar-brand {
            letter-spacing: 3px;
            font-weight: bold;
      
      }

      svg {
      color: red;
      }

      .span-svg {
      animation: rotation 10s linear infinite;
      }
      .svg1 {
            opacity: .1;
            animation: rotation 10s linear infinite;
            position: absolute;
            top: 40px;
            left: 40px;
      }

      .svg2 {
            opacity: .1;
            animation: rotation 10s linear infinite;
            position: absolute;
            top: 40px;
            right: 40px;
      }

      .svg3 {
            opacity: .1;
            animation: rotation 10s linear infinite;
            position: absolute;
            bottom: 40px;
            left: 40px;
      }

      .svg4 {
            opacity: .1;
            animation: rotation 10s linear infinite;
            position: absolute;
            bottom: 100px;
            right: 100px;
      }



      @keyframes rotation {
      from {
            transform: rotate(0deg);
      }
      to {
            transform: rotate(360deg);
      }
      }



      #cases p {
            font-family: 'Arvo' , sans-serif;
            padding-top: 20px;
      }

      th , td {
            font-family: 'Arvo' , sans-serif;
      
      }

      #card1 {
      border: 4px solid rgba(255, 0, 0, 0.258);
      }

      #case2 {
            border: 4px solid rgba(0, 34, 255, 0.258);
      }
      
      #case3 {
            border: 4px solid rgba(55, 255, 0, 0.258);
      }
      
      #case4 {
            border: 4px solid rgba(0, 0, 0, 0.394);
      }
      
      .font-arvo {
            font-family: 'Arvo' , sans-serif;
      }



      @media (max-width:600px) {
      

            .text-content p {
                  font-size: 30px;
            
            }
            tbody {
                  font-size: 15px;
            }
            #getstates {
                  margin-top: 3em;
            }
            .navbar-brand {
                  text-align:center
            }
            .statewise {
                  max-width: 100%;
                  max-height: 100%;
                  overflow: auto;
            } 
            .font-arvo {
                  font-size: 16px;
            }
      }


